{% extends "base.html" %}

{% block title %}Qumulo File Transfer Tool{% endblock %}



{% block page_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{{ url_for('static', filename='javascript/dropzone.js') }}"></script>

<div class="page-header">
    {% if current_user.is_authenticated %}
    <div class="row">
        <div class="col-xs-6">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Source</h2>
              </div>
              <div class="panel-body">
            <div id="actions" class="row">

              <div class="col-lg-7">
                <input type="file" id="my_folder" webkitdirectory="" directory="" style="display:none">

                <span id="get_folder" class="btn btn-success fileinput-button" webkitdirectory="" directory="">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                </span>
                    <i class="glyphicon glyphicon-upload"></i>
                <button type="submit" class="btn btn-primary start">
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
              </div>

              <div class="col-lg-5">
                <!-- The global file processing state -->
                <span class="fileupload-process">
                  <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                  </div>
                </span>
              </div>

            <div class="table table-striped" class="files" id="previews">

                  <div id="template" class="file-row">
                    <!-- This is used as the file preview template -->
                    <div>
                        <span class="preview"><img data-dz-thumbnail /></span>
                    </div>
                    <div>
                        <p class="name" data-dz-name></p>
                        <strong class="error text-danger" data-dz-errormessage></strong>
                    </div>
                    <div>
                        <p class="size" data-dz-size></p>
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                        </div>
                    </div>
                    <div>
                      <button class="btn btn-primary start">
                          <i class="glyphicon glyphicon-upload"></i>
                          <span>Start</span>
                      </button>
                      <button data-dz-remove class="btn btn-warning cancel">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          <span>Cancel</span>
                      </button>
                      <button data-dz-remove class="btn btn-danger delete">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                      </button>
                    </div>
                  </div>

                </div>


            </div>
              </div>
            </div>





        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Destination</h2>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>
        </div>
    </div>
    {% else %}
        <h1>Hi, Stranger! Please log in...</h1>
    {% endif %}
</div> 

<script>

    document.getElementById('get_folder').onclick = function() {
        document.getElementById('my_folder').click();
        return false;
    };

    // var dropzone = document.getElementById('dropzone');
    // dropzone.ondrop = function(e) {
    //   var length = e.dataTransfer.items.length;
    //   for (var i = 0; i < length; i++) {
    //     var entry = e.dataTransfer.items[i].webkitGetAsEntry();
    //     if (entry.isFile) {
    //       console.log("hey a file...");
    //     } else if (entry.isDirectory) {
    //       console.log("hey a directory...");
    //     }
    //   }
    // };

  // Get the template HTML and remove it from the doument
  var previewNode = document.querySelector("#template");
  previewNode.id = "";
  var previewTemplate = previewNode.parentNode.innerHTML;
  previewNode.parentNode.removeChild(previewNode);

  var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
    url: "/upload-target", // Set the url
    thumbnailWidth: 80,
    thumbnailHeight: 80,
    maxFilesize: 2048,
    parallelUploads: 20,
    previewTemplate: previewTemplate,
    autoQueue: false, // Make sure the files aren't queued until manually added
    previewsContainer: "#previews", // Define the container to display the previews
    clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
  });

  myDropzone.on("addedfile", function(file) {
    // Hookup the start button
    file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
  });

  // Update the total progress bar
  myDropzone.on("totaluploadprogress", function(progress) {
    document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
  });

  myDropzone.on("sending", function(file, xhr, formData) {
    // Send fullPath along with the file as POST data.
    formData.append("fullPath", file.fullPath);
    // Show the total progress bar when upload starts
    document.querySelector("#total-progress").style.opacity = "1";
    // And disable the start button
    file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
  });

  // Hide the total progress bar when nothing's uploading anymore
  myDropzone.on("queuecomplete", function(progress) {
    document.querySelector("#total-progress").style.opacity = "0";
  });

  // Setup the buttons for all transfers
  // The "add files" button doesn't need to be setup because the config
  // `clickable` has already been specified.
  document.querySelector("#actions .start").onclick = function() {
    myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
  };
  document.querySelector("#actions .cancel").onclick = function() {
    myDropzone.removeAllFiles(true);
  };
</script>

{% endblock %}
